<%- include('../partials/header'); %>
<body>
    <div id="pageHeader" class="container text-center">
        <h1 style="margin: 1%;">Music</h1>
        <h2>Original Compositions</h2>
    </div>   
    <div id="musicDiv" class="container d-flex flex-wrap justify-content-center">
        <% var title %>
        <% var fileName %>
        <% for(var i = 0; i < numFiles; i++) { %>
            <% fileName = fileNames[i];%>
            <% title = fileName.slice(0,-4).replace(/([A-Z])/g, ' $1'); %>
            <div class="card" style="width: 15rem; margin: 1rem;">
                <img class="card-img-top rounded" src="/content/music/cover/<%= fileName.replace('.mp3','.jpg') %>" alt="Cover image not found" style="width: 100%; height: 100%; padding: 5%">
                <div class="card-body">
                    <p class="card-text text-center">
                        <i style="color:white;"><%= title %></i>
                    </p>
                    <audio controls preload="metadata" style=" width:100%;">
                        <source src="/content/music/<%= fileName %>" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio><br />
                </div>
            </div>
        <% } %>
    </div>
    <%- include('../partials/footer'); %>